@import url("/css/system.css");

html {
    background: linear-gradient(to bottom, var(--white), var(--white));
}

.txt-color { color: var(--white-dark); }

.rsvp-form {
    margin: auto;
    width: 80%;
}

.shadow-wrap {
    box-shadow: 0 25px 40px 0 rgb(42 10 10 / 20%);
    transition: 0.3s;
    border-radius: 40vw 40vw 0 0;
    height: 100%;
    background: var(--red-lighter);
}

.shadow-wrap:hover { box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%); }

.round-top {
    padding-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.round-top h1 {
    text-align: center;
    vertical-align: center;
    font-family: 'Rouge Script', sans-serif;
    font-size: 2.5em;
}

#attendance-options {
    border: 0;
    display: flex;
    width: 100%;
    margin: auto;
    flex-flow: column;
    align-items: center;
    align-content: space-between;
}

.radio-button-div {
    padding: 3vw 0 3vw 5vw;
    width: 80%;
}

.radio-button-div label {
    vertical-align: bottom;
    font-size: 1.5em;
    color: var(--white-dark);
}

input[type="radio"] {
    background-color: transparent;
    border: 2px solid var(--white-dark);
    border-radius: 50%;
    box-shadow: inset 0 0 0 0 var(--white-dark);
    cursor: pointer;
    font: inherit;
    height: 2em;
    outline: none;
    width: 2em;
    vertical-align: middle;
    appearance: none;
    margin-right: var(--size-02);
    transition: background 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

input[type="radio"]:checked {
    background-color: var(--white-dark);
    box-shadow: inset 0 0 0 0.35rem var(--red-lighter);
    transition: background 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

input[type="radio"]:hover {
    background-color: var(--white-dark);
    transition: 250ms ease-in-out;
}

.radio-button-div:hover {
    background: var(--red-light);
    box-shadow: 0 0 15px 2px var(--red-light);
    transition: 250ms ease-in-out;
    border-radius: 10rem;
}

.rsvp-form hr {
    border: 1px solid var(--white-dark);
    width: 80%;
}

#additional-guests {
    padding: 1rem;
}

.guest-select {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

select {
    background: none;
    border: none;
    border-bottom: 2px solid var(--white-dark);
    font-size: 1.5em;
    text-align: center;
    transition: 250ms ease-in-out;
    margin: 0;
    padding: 1vw;
}

select:hover,
select:focus {
    background: var(--red-light);
    box-shadow: 0 0 10px 5px var(--red-light);
    border-radius: 100px;
    border-bottom: 4px solid var(--white-dark);
}

#contact-info {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    padding: var(--size-06);
    flex-flow: column;
    gap: var(--size-03);
}

input[type="text"], input[type="email"] {
    height: var(--size-07);
    font-size: 1.5em;
    text-align: left;
}

.guest-name, .food-allergies {
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    border-bottom: 3px solid var(--grey-lighter);
    transition: ease-in-out 150ms;
    color: var(--grey-dark);
}

.food-allergies {
    font-size: 1rem;
}

.guest-name {
    padding-top: var(--size-01);
}

.guest-num {
    font-size: 1.1em;
    padding-top: 5px;
    padding-right: 10px;
    margin: 0;
    text-align: right;
}

.email {
    margin-top: 5%;
}

.guest-name:hover, .food-allergies:hover {
    background: var(--white);
    box-shadow: 0 0 10px 5px var(--white);
}

.diet-box-label {
    color: var(--grey-darker);
}

.phone-num, .email {
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    border-bottom: 3px solid var(--white-dark);
    transition: ease-in-out 250ms;
    color: var(--white-dark);
}

.phone-num:focus, .email:focus {
    border: 2px solid var(--white-dark);
    outline: none;
    background: var(--red-light);
    box-shadow: 0 0 10px 5px var(--red-light);
}

.phone-num:hover, .email:hover {
    background: var(--red-light);
    box-shadow: 0 0 10px 5px var(--red-light);
}



.guest-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 85%;
    padding: 1rem;
    margin-top: 1rem;
    background: var(--white-dark);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    border-radius: var(--size-02);
}


.guest-card:hover, .guest-card:focus { box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%); }

.guest-dietary {
    padding: var(--size-05);
    display: flex;
    flex-flow: column wrap;
    justify-content: left;
    font-size: 1.3em;
    padding-left: 10%;
    gap: 0.5em;
}

.guest-dietary label {
    vertical-align: middle;
}

input[type="checkbox"] {
    vertical-align: middle;
    border: 1px solid black;
    height: 2em;
    width: 2em;
    margin-right: 14px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

button {
    background: none;
    border: 2px solid var(--white);
    color: var(--white);
}

button:hover, button:focus {
    background: var(--white-dark);
    color: var(--black-light);
    border: 2px solid var(--black);
}

.guest-name:focus, .food-allergies:focus {
    border: 2px solid var(--black);
    outline: none;
    background: var(--white);
    box-shadow: 0 0 10px 5px var(--white);
    color: var(--black);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (width <= 600px) {
    .rsvp-form {
        width: 90%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (width >= 600px) {
    input[type="radio"] {
        height: 1.5em;
        width: 1.5em;
        vertical-align: top;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (width >= 768px) {
    .guest-dietary {
        flex-flow: wrap;
        flex-wrap: wrap;
        padding: var(--size-05);
    }

    .guest-dietary div {
        flex: 1 1 33%;
        width: 33%;
    }

    input[type="checkbox"] {
        height: 1.5em;
        width: 1.5em;
    }


    .radio-button-div {
        font-size: 1em;
    }

    input[type="radio"] {
        height: 1.5em;
        width: 1.5em;
    }

    input[type="text"], input[type="email"] {
        font-size: 1em;
    }

    .phone-num, .email {
        width: 75%;
        display: flex;
        margin: auto;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (width >= 992px) {
    .rsvp-form {
        width: 35%;
    }

    #additional-guests {
        padding: 0;
    }

    .radio-button-div {
        padding: var(--size-04);
    }

    .radio-button-div label {
        font-size: 0.75em;
        vertical-align: middle;
    }

    input[type="radio"] {
        height: 1em;
        width: 1em;
        vertical-align: middle;
    }

    select {
        font-size: 0.75em;
    }

    .guest-num {
        font-size: 0.75em;
    }

    input[type="text"], input[type="email"] {
        font-size: 0.75em;
    }

    .guest-dietary {
        font-size: 0.75em;
    }
}